* {
    margin: 0; 
    padding: 0; }

::-webkit-scrollbar { 
    display: none; }

a {
    text-decoration: none;
    color: inherit; }

#body {
    width: 100%;
    margin: 0 auto; }

#clear {
    clear: both; }

li {
    list-style: none; }
