<!doctype html>
<html lang="en" ng-app="app">
<head>
    <title>Node Airlines</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"0>
    <!-- livereload for testing -->
    <script src="//localhost:35729/livereload.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>
    <!--fake data-->
    <script src="/javascripts/fData.js"></script>
    <script src="/javascripts/search_script.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
    <script>
        $(function() {
          // Setup drop down menu
          $('.dropdown-toggle').dropdown();
         
          // Fix input element click problem
          $('.dropdown input, .dropdown label').click(function(e) {
            e.stopPropagation();
          });
        }); 
    </script>
</head>
<body>

<!-- navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" bs-navbar>
  <div class="navbar-inner">
    <div class="container">
      <!-- collapse button menu -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- site header -->
      <a class="brand" href="#">Node Airlines</a>
      <div class="nav-collapse collapse">
        <!-- important links -->
        <ul class="nav">
          <li><a href="#/about">About</a></li>
          <li><a href="#/help">Help</a></li>
          <li><a href="#/contact">Contact Us</a></li>
        </ul>
        <!-- sign-up link and login form -->
        <ul class="nav pull-right">
          <li><a href="#/signup">Sign Up</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In<b class="caret"></b></a>
            <ul style="text-align: center;" class="dropdown-menu">
              <form style="padding-top: 20px; margin: 0 auto; width: 300px; text-align: center;" action="/api/login" method="post" accept-charset="UTF-8">
              <div>
              </div>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input id="username" type="text" name="username" placeholder="username" size="30" />
              </div>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input id="password" type="password" name="password" placeholder="password" size="30" />
              </div>
              <div style="padding-bottom: 10px">
                <input  class="btn btn-primary" style="margin-left: 15px;" type="submit" name="commit" value="Sign In" />
              </div>
              </form>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

        <!--Search by from, to and date-->
        <div ng-controller="Cntrl">
            From :
            <select ng-model="dep" ng-options="l.city group by l.state for l in locations">
            </select><br/>
            To :
            <select ng-model="des" ng-options="f.destination._location.city group by f.destination._location.state for f in flights | filter :{departure._location.city : dep.city} | uniqueDes" >
            </select><br/>
            Date :
            <select ng-model="date1" ng-options="f.departure.date for f in flights | filter :{departure._location.city : dep.city}| filter :{destination._location.city : des.destination._location.city} | uniqueDates">
            </select><br/>

            <!--
            <select ng-model="des" ng-options="l.city group by l.state for l in locations">
            </select><br/>
            Date :
            <select ng-model="date1" ng-options="d.date for d in dates">
            </select><br/>
            -->
            <!--
            date : {{date1}}
            Locations : {{dep.city}}
            Locations : {{des}}
            -->

            <table>
                <tr><th>departure</th><th>destination</th><th>date</th><th>price</th><th>seats</th></tr>
                <tr ng-repeat="flight in flights | filter :{departure._location.city : dep.city}| filter :{destination._location.city : des.destination._location.city}| filter :{departure.date : date1.departure.date}">
                <td>{{flight.departure._location.city}},{{flight.departure._location.state}}</td>
                <td>{{flight.destination._location.city}},{{flight.destination._location.state}}</td>
                <td>{{flight.departure.date}}</td>
                <td>{{flight.price|currency:"$"}}</td>
                <td>{{flight.available}}/{{flight.total}}</td>
            </table>
        </div>
    </body>
</html>
