
    <style type="text/css">
    	body {
     			background: url('http://i.imgur.com/Vrrib5b.png');
     			background-repeat: no-repeat;
     		}
     	img {
     			width: auto;
     			height: auto;
     		}

     	.breadcrumb {
     			padding-left: 25px;
     			background-color: #8cc84b;
     			font-size: 16px;
     			margin: 10px 25px 25px;
     		}
    </style>
  	<div class="container-fluid">
       <div class="row-fluid">
          <div class="span12">
          	<br><br><br>
            <h1>About Node Airlines</h1><br><br>
            <ol class="breadcrumb">
            	<h1>History</h1><br>
            		text goes here
            	<h6></h6>
            </ol>
            <ol class="breadcrumb">
            	<h1>Our Business Model</h1><br>
            		text goes here
            	<h6></h6>
            </ol>
          </div>
          </div>
       </div>
    </div>
    <hr>
