<div class="container">

<h1>About Us</h1>
<hr/>

<h2>History</h2>

<p>text goes here</p>

<h2>Our Business Model</h2>
<p>Node Airlines is dedicated to providing exemplary service
for its valued customers.  We aim to ensure that your
comprehensive experience with our company &mdash;from buying
your tickets, to flying comfortably to your destination, to
baggage claim&mdash; is overwhelmingly positive.  Each of our
employees will be trained to industry standards and geared
toward promoting the customers' best interests.<p>
<p>Node Airlines thanks you for your business, and we hope you
choose to fly with us again soon!</p>

<h2>Careers</h2>

<div id="myAccordion" class="accordion">

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse1" data-parent="#myAccordion"
    data-toggle="collapse" class="accordion-toggle"><i
    class="icon-search"></i>&nbsp;&nbsp;&nbsp;Flight Crew</a>
  </div>
  <div class="accordion-body collapse" id="collapse1">
    <div class="accordion-inner">
      <p>text goes here</p>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse2" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-search"></i>&nbsp;&nbsp;&nbsp;Information Technology</a>
  </div>
  <div class="accordion-body collapse" id="collapse2">
    <div class="accordion-inner">
      <p>text goes here</p>
    </div>
  </div>
</div>   

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse3" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-search"></i>&nbsp;&nbsp;&nbsp;Customer Service</a>
  </div>
  <div class="accordion-body collapse" id="collapse3">
    <div class="accordion-inner">
      <p>text goes here</p>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse4" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-search"></i>&nbsp;&nbsp;&nbsp;Engineering &
    Maintenance</a>
  </div>
  <div class="accordion-body collapse" id="collapse4">
    <div class="accordion-inner">
      <p>text goes here</p>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse5" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-search"></i>&nbsp;&nbsp;&nbsp;Airport Operations</a>
  </div>
  <div class="accordion-body collapse" id="collapse5">
    <div class="accordion-inner">
      <p>text goes here</p>
    </div>
  </div>
</div> 

</div>

</div> <!-- end of container -->
