
<style type="text/css">
    .header2 {
            margin-top: -20px;
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: 20px;
            position: relative;
            background: #8cc84b;
            color: #46483e;
            height: auto;
    }
    .header2 h1, p {
            padding-left: 40px;
    }
    .header2 h1 {
            padding-top: 40px;
            padding-bottom: 20px;
            font-size: 64px;
            line-height: 64px;
    }
    @media (min-width: 980px) {
       .header2 {
            max-height: 248px;
            margin: 0;
            margin-top: 20px;
        }
    }
    .shadow2 {
            -moz-box-shadow:    inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow:         inset 0 0 10px #000000;
    }
    .span8 {
      background-color: #8cc84b;
    }
    .input-xlarge {
      background-image:
        url('http://i.imgur.com/vOpjFUi.png');
      background-size: 153px 169px 100%;
      background-repeat:no-repeat;
      background-position: center;
    }
</style>
    <div class="header2">
      <div class="shadow2">
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="container-fluid"><br>
  <form class="well span8" style="float: none; margin: 0 auto;">
    <div class="row">
      <div class="span3">
        <label><b>First Name</b></label>
        <input type="text" class="span3" placeholder="Your First Name">
        <label><b>Last Name</b></label>
        <input type="text" class="span3" placeholder="Your Last Name">
        <label><b>Email Address</b></label>
        <input type="text" class="span3" placeholder="Your email address" required>
        <label><b>Subject</b>
          <select id="subject" name="subject" class="span3">
            <option value="na" selected="">Choose One:</option>
            <option value="service">General Customer Service</option>
            <option value="suggestions">Suggestions</option>
            <option value="product">Product Support</option>
          </select>
        </label>
        </div>
        <div class="span5">
          <label><b>Message</b></label>
          <textarea name="message" id="message" 
            class="input-xlarge span5" rows="10"></textarea>
        </div>
    <button type="submit" class="btn btn-primary pull-right">Send</button>
  </form>
</div>
&nbsp;
