
<style type="text/css">
  .bs-example{
  	margin: 20px;
  }
  body {
      margin: 0;
      background: url('http://i.imgur.com/Vrrib5b.png');
      background-repeat: no-repeat;
    }
  img {
      width: auto;
      height: auto;
    }

  .breadcrumb {
      padding-left: 25px;
      background-color: #8cc84b;
      font-size: 16px;
      margin: 10px 25px 25px;
    }
</style>
    <div class="container-fluid">
       <div class="row-fluid">
          <div class="span12">
            <br><br><br>
            <h1>Help & FAQ's</h1><br><br>
            <ol class="breadcrumb">
              <h1>Frequently Asked Questions</h1><br>
              <i class="icon-question-sign"></i> question goes here
              <p>answer goes here</p>
              <h6></h6>
              <div class="bs-example">
    <div id="myAccordion" class="accordion">
        <!----> 
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="#collapse1" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">How do I buy a flight?</a>
            </div>
            <div class="accordion-body collapse" id="collapse1">
                <div class="accordion-inner">
                    <p>* First:  log-in.</p>
                    <p>* Second: search your flight.</p>
                    <p>* Third:  click the buy button.</p>
                </div>
            </div>
        </div>   
        <!----> 
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="#collapse2" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">How do I cancel a flight?</a>
            </div>
            <div class="accordion-body collapse" id="collapse2">
                <div class="accordion-inner">
                    <p>* First:  log-in.</p>
                    <p>* Second: check your flights.</p>
                    <p>* Third:  click the cancel button next to the undesired flight.</p>
                </div>
            </div>
        </div>
        <!----> 
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="#collapse3" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">How do I create an account?</a>
            </div>
            <div class="accordion-body collapse" id="collapse3">
                <div class="accordion-inner">
                    <p>* First: click Sign-up (top right corner).</p>
                    <p>* Second: complete the form.</p>
                    <p>* Third:  click Create my account</p>
                </div>
            </div>
        </div>
        <!----> 
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="#collapse4" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">How many bags can I carry on?</a>
            </div>
            <div class="accordion-body collapse" id="collapse4">
                <div class="accordion-inner">
                    <p>You are allow to carry a maximum of 2 bags per ticket, each bag have some size and weight limitations. Additional charge would apply for overweight and excess items.</p>
                </div>
            </div>
        </div>
        <!----> 
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="#collapse5" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">What happen if I lost my ticket/s?</a>
            </div>
            <div class="accordion-body collapse" id="collapse5">
                <div class="accordion-inner">
                    <p>The person who paid for the ticket/s would have to be present at the time of departure, ID would be required. This only if your ticket is shown on your account.</p>
                </div>
            </div>
        </div>
        <!----> 
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="#collapse6" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">What happen if I need to cancel my flight?</a>
            </div>
            <div class="accordion-body collapse" id="collapse6">
                <div class="accordion-inner">
                    <p>You would get 85% of the ticket price if it is cancel before 72 hrs.</p>
                    <p>50% if it is canceled before 48 hrs.</p> 
                    <p>No refund if it is canceled on the departure day.</p>
                </div>
            </div>
        </div>
        <!----> 
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="#collapse7" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">I left something on the plane. Can I get it back?</a>
            </div>
            <div class="accordion-body collapse" id="collapse7">
                <div class="accordion-inner">
                    <p>We are not responsible for lost items. If we found it and it contains the appropriate ID, we would contact you. otherwise all we have to say that we sorry for your lost.</p>
                </div>
            </div>
        </div>
        <!----> 
    </div>
</div>
            </ol>
            <ol class="breadcrumb">
              <h1>Other Resources</h1><br>
              text goes here
              <h6></h6>
            </ol>
          </div>
          </div>
       </div>
    </div>
    <hr>
  