<div class="container">

<h1>Help & FAQ's</h1>
<hr/>

<h2>Frequently Asked Questions</h2>

<div id="myAccordion" class="accordion">

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse1" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-question-sign"></i>&nbsp;&nbsp;&nbsp;How do I create an
    account?</a>
  </div>
  <div class="accordion-body collapse" id="collapse1">
    <div class="accordion-inner">
      <p>Press the "Sign Up" button in the upper right corner of the page.
      Fill out your personal information and click "Create My
      Account".</p>
      <p><i>Welcome to the Node Airlines family!</i></p>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse2" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-question-sign"></i>&nbsp;&nbsp;&nbsp;How do I purchase a
    ticket?</a>
  </div>
  <div class="accordion-body collapse" id="collapse2">
    <div class="accordion-inner">
      <p>A Node Airlines account is required to purchase tickets.  Once
      you have logged into your account, enter your current location and
      desired destination into our search feature.  Date and price are
      optional search terms.  Relevant flights will be displayed along
      with the option to purchase tickets.</p>
    </div>
  </div>
</div>   

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse3" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-question-sign"></i>&nbsp;&nbsp;&nbsp;How do I cancel a
    flight?</a>
  </div>
  <div class="accordion-body collapse" id="collapse3">
    <div class="accordion-inner">
      <p>A list of your current flights is available on your account
      userpage.  Simply press the "cancel" button to forfeit your seat on
      a flight.  A refund will be credited to the credit card on
      record**.</p>
      <p>** <i>Flights cancelled within 24 hours of the departure time are
      not eligible for a refund.</i></p>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse4" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-question-sign"></i>&nbsp;&nbsp;&nbsp;How many bags can I
    carry on my flight?</a>
  </div>
  <div class="accordion-body collapse" id="collapse4">
    <div class="accordion-inner">
      <p>You are allowed to carry a maximum of 2 bags per ticket.  Each
      bag is subject to size and weight limitations.</p>
      <p>Additional charges apply for overweight and excessively large
      items.</p>
    </div>
  </div>
</div>

<div class="accordion-group">
<div class="accordion-heading">
<a href="#collapse5" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle"><i class="icon-question-sign"></i>&nbsp;&nbsp;&nbsp;What happens if I lose my ticket(s)?</a>
</div>
<div class="accordion-body collapse" id="collapse5">
<div class="accordion-inner">
<p>In the event that tickets are lost, guests will only be allowed to board the flight if the owner of the account on which the ticket(s) were purchased is present at the time of departure.  Sufficient identification and proof of ticket purchase(s) must be provided.</p>
</div>
</div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse6" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"><i
    class="icon-question-sign"></i>&nbsp;&nbsp;&nbsp;What happens if I
    miss my flight?</a>
  </div>
  <div class="accordion-body collapse" id="collapse6">
    <div class="accordion-inner">
      <p>Node Airlines encourages the punctuality of its customers.  All
      ticket sales are final once the refund deadline has been reached, 24
      hours before the corresponding flight's departure time.</p>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse7" data-parent="#myAccordion" data-toggle="collapse"
    class="accordion-toggle"> <i
    class="icon-question-sign"></i>&nbsp;&nbsp;&nbsp;I left something on
    the plane. Can I get it back?</a>
  </div>
  <div class="accordion-body collapse" id="collapse7">
    <div class="accordion-inner">
      <p>Node Airlines is not responsible for lost items.  If an item is
      found that contains sufficient identification, the owner will be
      notified and the item will be held for a maximum of 30 days.</p>
      <p>Items may be shipped via standard post at the owner's
      expense.</p>
    </div>
  </div>
</div>

</div>

<h2>Other Resources</h2>

<p>If you have additional questions, please call our toll free customer
service number: <b>1-555-NODE-AIR</b> Comments and inquiries can also be
directed to our staff via our <a href="#/contact"><b>contact
form</b></a><p>.

</div>
