<div class="container">
  <div class="row-fluid">
  <div class="span8">
    <div >
      <h1>Membership</h1> 
    </div>
  </div>
  <div class="well span4">    
    <form id="signup" method="post" action="/api/user">
      <legend>Sign Up</legend>        
      <input type="text" class="input-block-level" name="username"
      placeholder="Username" required>
      <input type="text" class="input-block-level" name="firstname"
      placeholder="First Name" required>
      <input type="text" class="input-block-level" name="lastname"
      placeholder="Last Name" required>
      <input type="email" class="input-block-level" name="email"
      placeholder="Email" required>
      <input type="Password" class="input-block-level" name="password"
      placeholder="Password" required>
      <input type="Password" class="input-block-level" name="conpasswd"
      placeholder="Re-enter Password" required>
      <button type="submit" class="btn btn-success">
        <em>Create My Account</em></button>
    </form>
  </div>
  </div>
</div>
