<style>
    @media (min-width: 980px) {
        body {
            margin-top: 60px;
        }
    }
</style>
<div class="container">
  <div class="well">    
    <form id="signup" class="form-horizontal" method="post" 
      action="/api/user">
      <legend>Sign Up</legend>        
      <div class="control-group ">
        <label class="control-label">Username</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input type="text" class="input-xlarge" id="lname" 
              name="username" placeholder="Username" required>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">First Name</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input type="text" class="input-xlarge" id="fname"  
              name="firstname" placeholder="First Name" required>
          </div>
        </div>
      </div>
      <div class="control-group ">
        <label class="control-label">Last Name</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input type="text" class="input-xlarge" id="lname" 
              name="lastname" placeholder="Last Name" required>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input type="email" class="input-xlarge" id="email" 
              name="email" placeholder="Email" required>
          </div>
        </div>  
      </div>
      <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input type="Password" id="passwd" class="input-xlarge"  
              name="password" placeholder="Password" required>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Confirm Password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input type="Password" id="conpasswd"
            class="input-xlarge"  name="conpasswd"
            placeholder="Re-enter Password" required>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <button type="submit"
            class="btn btn-success">Create My Account</button>
        </div>
      </div>
    </form>
  </div>
 </div>
