<style>
    @media (min-width: 980px) {
        body {
            margin-top: 60px;
        }
    }
    .bs-example{
      margin: 20px;
    }
    .breadcrumb {
      padding-left: 25px;
      background-color: #8cc84b;
      font-size: 16px;
      margin: 10px 0px 25px 0px;
    }
    .accordion-group {
      margin-right: 10px;
      background-color: white;
    }
    .accordion-heading {
      margin-top: 11px;
      margin-right: 25px;
    }
    .well {
      background-color: #8cc84b;
    }
    form {
      margin: -10px 7px 15px 7px;
    }
    .btn {
      margin-top: 9px;
    }
</style>
<div class="container"><br>
  <div class="row-fluid">
  <div class="span8">
    <div>
      <h1>Membership</h1> 
    </div>
    <ol class="breadcrumb">
      <h3>Why should I create an account?</h3>
      <div class="bs-example">
        <div id="myAccordion" class="accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <p>&nbsp;<br>
            Becoming a Node Airlines member offers you access to hundreds of daily flights.  Whether you're traveling on business, visiting relatives in another city, or you simply want to enjoy the sights and sounds of a new place, we've got you covered!<br><br>
            Membership is completely FREE.  Credit card information is only collected upon checkout during ticket purchases.<br><br>
            <br>&nbsp;</p>
          </div>
        </div>
      </div>
      </div>
    </ol>
  </div>
  <div class="well span4">    
    <form id="signup" method="post" action="/api/user">
      <h3>Sign Up</h3><br>        
      <input type="text" class="input-block-level" name="username"
      placeholder="Username" required>
      <input type="text" class="input-block-level" name="firstname"
      placeholder="First Name" required>
      <input type="text" class="input-block-level" name="lastname"
      placeholder="Last Name" required>
      <input type="email" class="input-block-level" name="email"
      placeholder="Email" required>
      <input type="Password" class="input-block-level" name="password"
      placeholder="Password" required>
      <input type="Password" class="input-block-level" name="conpasswd"
      placeholder="Re-enter Password" required>
      <input class="btn btn-primary pull-right"type="submit" 
      id="submit" value="Create My Account" />
    </form><br>
  </div>
  </div>
</div>
